<div class="fileinput text-center">
  <input type="file" (change)="handleImageChange($event)" #fileInput>
  <div class="thumbnail">
    <img src="{{ imagePreviewUrl }}" alt="...">
  </div>
  <div>
    <button *ngIf="file === null"
            class="btn btn-round btn-outline-primary btn-file mt-2"
            (click)="handleClick()">
      Selecione a imagem
    </button>
    <span *ngIf="file !== null" class="align-baseline">
      <button class="btn btn-round btn-warning mt-2" (click)="handleClick()">
        <i class="far fa-edit"></i>
      </button>
      <button class="btn btn-round btn-danger mt-2" (click)="handleRemove()">
        <i class="fa fa-times"></i>
      </button>
    </span>
  </div>
</div>
