#remove-tag:hover {
  color: #dc3545;
}

.fileinput input {
  display: none;
}

/*::ng-deep .max-upload {*/
/**/
/*}*/
.fileinput .thumbnail > img {
  max-height: 100%;
  max-width: 100%;

}

.img-list-produt {
  width: 200px;
  height: 220px;
}

.button-float-right {
  float: right;
}

.margin-left {
  margin-left: 5px !important;
}
